* {
    margin: 0;
    padding: 0;
    border: 0;
    max-width: 100%;
    font-family: 'Roboto', sans-serif;
}

/* Primer contenedor */

.container1 {
    background-image: url('img/vlogger-img-05.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    margin-left: 60%;
    /* Ajusta el margen izquierdo según sea necesario */
}

nav {
    display: flex;
    justify-content: space-between;
    margin-right: 10%;
    /* Ajusta el margen derecho según sea necesario */
    margin-top: 1vh;
    height: 6vh;
    width: 40vw;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
}

nav li {
    display: flex;
    margin-top: 4%;
    margin-left: 2%;
    /* Ajusta el margen izquierdo según sea necesario */
}

.container1 section {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 90vw;
    margin-left: 5vw;
}

#textInfo {
    display: flex;
}

#titleName {
    color: white;
    font-size: 7vw;
    margin-left: 5vw;
    margin-top: 20vh;
    font-family: 'Roboto', sans-serif;
}

#jobInfo {
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin-left: auto;
    color: white;
    z-index: 1;
}

#jobInfo hr {
    border: none;
    border-top: 2px solid white;
    /* Cambia el color y el grosor de la línea */
    width: 10vw;
    border-radius: 5px;
    /* Añade una curvatura a los bordes */
    margin-left: 20vw;
    margin-top: 20rem;
}

#jobInfo h2 {
    font-size: 2rem;
    margin-left: 20.5vw;
    margin-top: 12px;
    font-family: 'Roboto', sans-serif;
}

#jobInfo p {
    font-size: 1rem;
    margin-left: 20.5vw;
    margin-top: 12px;
    font-family: 'Roboto', sans-serif;
}

#containerImg1 {
    position: relative;
    width: 100vw;
    height: 100vh;
}

#img1 {
    bottom: 0;
    margin-left: 7vw;
    margin-top: -16vw;
    height: 38rem;
}

/* Segundo contenedor */

.container2 {
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 100vw;
}

#container2Title {
    display: flex;
    justify-content: center;
}

#container2Title h2 {
    font-size: 1rem;
    margin-top: 2rem;
    font-family: 'Roboto', sans-serif;
    color: rgb(145, 139, 139);
}

#superior {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 50%;
    width: 80vw;
    margin-left: 10vw;
}

#superior h3 {
    margin-top: 5%;
    font-size: 3vw;
    font-family: 'Roboto', sans-serif;
}

#inferior {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 50%;
    width: 60vw;
    margin-left: 20vw;
}

#inferior h3 {
    margin-top: 7%;
    font-size: 3vw;
    font-family: 'Roboto', sans-serif;
}

/* Tercer contenedor */

.container3 {
    display: flex;
    height: 160vh;
    width: 100vw;
    background-image: url('img/vlogger-img-07.jpg');
    background-size: cover;
    background-attachment: fixed;
    justify-content: right;
    position: relative;
}

.container3 img {
    position: absolute;
    /* Establece el posicionamiento absoluto para que la imagen se superponga */
    width: 100%;
    /* La imagen ocupará el 100% del ancho del contenedor */
    height: 80%;
    /* La imagen ocupará el 100% del alto del contenedor */
    object-fit: cover;
    /* Ajusta la imagen para cubrir el contenedor */
    z-index: 2;
    /* Asegura que la imagen esté por encima de otros elementos */
}

#imgBack {
    top: 20%;
}

#container3Content {
    display: flex;
    flex-direction: column;
    margin-right: 10vw;
}

#container3Title {
    display: flex;
    height: 50vh;
    width: 60vw;
}

#container3Title h2 {
    position: absolute;
    font-size: 9vw;
    margin-top: 7rem;
    font-family: 'Roboto', sans-serif;
}

#container3info {
    display: flex;
    height: 60vh;
    width: 60vw;
}

#personalInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50vw;
    height: 30rem;
    z-index: 3;
}

#personalInfo hr {
    border: none;
    border-top: 2px solid black;
    /* Cambia el color y el grosor de la línea */
    width: 10vw;
    border-radius: 5px;
    /* Añade una curvatura a los bordes */
}

#personalInfo p {
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
}

#socialMedia {
    display: flex;
    flex-direction: column;
    align-items: last baseline;

}

#socialMedia p {
    font-size: 1em;
    margin-top: 4rem;
    margin-left: 8rem;
    font-family: 'Roboto', sans-serif;
}

#socialMedia a {
    text-decoration: none;
    color: black;
    font-size: 2.5em;
    margin-top: 2rem;
    font-family: 'Roboto', sans-serif;
}

#socialMediaData {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: auto;
    width: 60vw;
    height: 20vh;
}

.dataContainers {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.data {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
}

.data h2 {
    font-size: 5.4vw;
    margin-top: 1rem;
    font-family: 'Roboto', sans-serif;
}

#socialMediaData hr {
    border: none;
    border-top: 4px solid rgb(88, 84, 84);
    /* Cambia el color y el grosor de la línea */
    width: 60vw;
}

#awards {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60vw;
    height: 20vh;
}

#awardsTitle {
    display: flex;
    font-size: 1.3rem;
    justify-content: center;
}

.achivements {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 10vh;
    width: 60vw;
}

.achivement {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 6vw;
    height: 10vh;
    z-index: 3;
}

.achivement img {
    margin-top: auto;
    width: 150px;
    height: 100px;
}


/* Cuarto contenedor */

.container4 {
    height: 180vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: black;
}

#container4Title {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 20em;
    width: 100vw;
}

#container4Title h2 {
    font-size: 12vw;
    color: white;
    font-family: 'Roboto', sans-serif;
    top: 20%;
    margin-bottom: -3%;
    z-index: 3;
}

#mainVideo {
    background-image: url('img/vlogger-img-01.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    height: 35vw;
    width: 90vw;
    background-color: darkorange;
    margin-left: 5vw;
}

#secondaryVideos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 25vh;
    width: 90vw;
    margin-left: 5vw;
    margin-top: 4rem;
}

#video1,
#video2,
#video3 {
    height: 14vw;
    width: 25vw;
    border-radius: 10px;
}

#video1 {
    background-image: url(img/vlogger-template-featured-video-3.jpg);
    background-size: cover;
    background-position: center;
}

#video2 {
    background-image: url(img/vlogger-template-featured-video-2.jpg);
    background-size: cover;
    background-position: center;
}

#video3 {
    background-image: url(img/vlogger-template-featured-video-4.jpg);
    background-size: cover;
    background-position: center;
}

.video img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

#secondaryVideos p {
    font-size: 3em;
    color: white;
    font-family: 'Roboto', sans-serif;
}

#visitChannel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 90vw;
    margin-left: 5vw;
    margin-top: 2rem;
}

#visitChannel a {
    text-decoration: underline;
    text-decoration-color: gray;
    text-decoration-thickness: 4px;
    color: white;
    font-size: 4em;
    font-family: 'Roboto', sans-serif;
}

/* Quinto contenedor */

.container5 {
    height: 120vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    position: relative;
}

#container5Img1 {
    width: 30vw;
    position: relative;
    height: 120vh;
    overflow: visible;
}

#container5Img1 img {
    width: 95%;
    height: 110%;
    position: absolute;
    bottom: 0;
    left: 0;
}

#container5Title {
    display: flex;
    justify-content: center;
    width: 20%;
    height: auto;
    margin-left: 5%;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

#container5Title h2 {
    font-size: 1000%; 
    font-family: 'Roboto', sans-serif;
}


#container5Content {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    width: 27%;
    height: auto;
}

.items {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 2rem;
}

.items hr {
    border: none;
    border-top: 2px solid black;
    width: 100%;
    border-radius: 5px;
    margin-top: 7%;
}

.items h2 {
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    color: rgb(109, 106, 106);
}

.items p {
    font-size: 2rem;
    margin-top: 1rem;
    font-family: 'Roboto', sans-serif;
}

#container5Img2 {
    position: absolute; 
    top: 0; 
    right: 0; 
    width: auto; 
    height: auto; 
    overflow: visible;
    margin: 0; 
    margin-top: -5%;
    padding: 0;
    z-index: 1; 
}

/* Sexto contenedor */

.container6 {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.getInTouch {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10.5vw;
    width: 50vw;
    height: 100vh;
}

.sendContact {
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 100vh;
    padding-left: 10vw;
    padding-right: 10vw;
    background-color: rosybrown;
}

.sendContact h2{
    font-size: 100%;
    margin-top: 15vh;
}

.sendContact form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sendContact input, textarea {
    border-style: solid;
    border-width: 1px;
    height: 45%;
    margin-top: 5vh;
    border-radius: 1px;
}

.sendContact button{
    margin-top: 5vh;
    width: 40%;
    height: 45%;
    border-radius: 20px;
    border-width: 2px;
    border-style: solid;
}