* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Primer contenedor */

.container1 {
    background-image: url('img/vlogger-img-05.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

header {
    display: flex;
    margin-left: auto;
}

nav {
    display: flex;
    margin-right: 100px;
    margin-top: 1vh;
    height: 6vh;
    list-style: none;
}

nav a {

    text-decoration: none;
    color: white;
    font-size: 1.3rem;

}

nav li {
    margin-top: 4%;
    margin-left: 35px;
}

.container1 section {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 90vw;
    margin-left: 5vw;
}

#textInfo {
    display: flex;
}

#titleName {
    color: white;
    font-size: 7rem;
    margin-left: 5vw;
    margin-top: 25vh;
    font-family: 'Roboto', sans-serif;
}

#jobInfo {
    display: flex;
    flex-direction: column;
    width: 50rem;
    margin-left: auto;
    color: white;
    z-index: 1;
}

#jobInfo hr {
    border: none;
    border-top: 2px solid white; /* Cambia el color y el grosor de la línea */
    width: 10rem;
    border-radius: 5px; /* Añade una curvatura a los bordes */
    margin-left: 20rem;
    margin-top: 20rem;
}

#jobInfo h2 {
    font-size: 2rem;
    margin-left: 20.5rem;
    margin-top: 12px;
    font-family: 'Roboto', sans-serif;
}

#jobInfo p {
    font-size: 1rem;
    margin-left: 20.5rem;
    margin-top: 12px;
    font-family: 'Roboto', sans-serif;
}

#containerImg1 {
    position: relative;
    width: 100vw;
    height: 100vh;
}

#img1 {
    bottom: 0;
    margin-left: auto;
    margin-top: -25rem;
    
}

/* Segundo contenedor */

.container2{
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 100vw;
}

#container2Title{
    display: flex;
    justify-content: center;
}

#container2Title h2{
    font-size: 1rem;
    margin-top: 2rem;
    font-family: 'Roboto', sans-serif;
}

#superior{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 50%;
    width: 80vw;
    margin-left: 10vw;
}

#superior h3{
    margin-top: 5%;
    font-size: 3rem;
}

#inferior{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 50%;
    width: 60vw;
    margin-left: 20vw;
}

#inferior h3{
    margin-top: 7%;
    font-size: 3rem;
}

/* Tercer contenedor */

.container3{
    display: flex;
    height: 140vh;
    width: 100vw;
    background-color: yellow;
}

#container3Img{
    justify-content: center;
    background-color: red;
    height: 140vh;
    width: 50rem;
}

#container3Title{
    display: flex;
    justify-content: center;
    background-color: blue;
    height: 30vh;
    width: 50rem;
}

#container3info{
    display: flex;
    justify-content: center;
    background-color: green;
    height: 70vh;
    width: 50rem;
}

#socialMediaData{
    background-color: aqua;
    width: 50rem;
    height: 20vh;
}

#achivements{
    background-color: cadetblue;
    width: 50rem;
    height: 20vh;
}

/* Cuarto contenedor */

 .container4{
    height: 170vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: black;
 }

 #container4Title{
    height: 10rem;
    width: 100vw;
    background-color: peru;
 }

 #mainVideo{
    height: 35rem;
    width: 90vw;
    background-color: darkorange;
    margin-left: 5vw;
 }

 #secondaryVideos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 50vh;
    width: 90vw;
    background-color: red;
    margin-left: 5vw;
 }

.video{
    height: 15rem;
    width: 20rem;
    background-color: yellow;
}
